@font-face {
    font-family: Chivo;
    src: url(fonts/Serif/cmunrm.ttf);
    src: url(fonts/Typewriter_Light/cmunbtl.ttf);
    /*src: url(fonts/Serif/cmunbx.ttf);*/

}

body {
	background-color: black;
	color: white;
	background-image: url('images/ascii-face-animation.gif');
	background-size: cover;
	font-family: 'CMU';
}

#container{
	position: relative;
}

#title1 {
	font-size: 18pt;
	letter-spacing: 1.5pt;
}

.title {
	font-family: CMU Serif;
	padding-left: 20px;
	/*border: 1px solid white;*/
	float: left;
	text-shadow: 1px 1px 5px black;
}

/*.title h2 {
	font-family: 'cmunrm';
	letter-spacing: 2px;
}*/

.title p {
	line-height: 8px;
	font-size: 12pt;
	text-shadow: 1px 1px 5px black;
}

#timestamp {
	font-family: CMU Serif;
	/*margin: auto;*/
/*	width: 300px;*/
	font-size: 170pt;
	letter-spacing: 30px;
	position: absolute;
    left: 0;
    right: 0;
    top: 30%;
    width: 100%;
    text-align: center;
}

#box-timestamp {
	height: auto;
	width: 100%;
	border: 1px solid black;
	color: white;
	/*position: absolute;*/

}

/*#LocalTime {
	float: left;
	margin-top: 500px;
	height: 300px;
	width: 300px;
}*/

.description {
	width: 365px;
	font-family: CMU Serif;
	position: absolute;
    bottom: 8px;
    right: 5px;
    font-size: 18px;
    text-align: justify;
    text-shadow: 1px 1px 5px black;




	/*float: right;
	font-size: 13pt;
	margin-top: -20px;
	/*text-align: justify;*/
	padding-right: 47px;*/
	border: 1px solid white;
	
}

#git{
	width: auto;
	position: absolute;
    bottom: 35px;
    left: 25px;
    font-size: 12pt;
    font-family: CMU Serif;
}

#git a{
	text-decoration: none;
	/*text-decoration: underline;*/
	color: white;
	text-shadow: 1px 1px 3px black;
}

#git a:hover{
	color: orange;
}

#days{

 	width: 100%;
    height: auto;
    z-index: -1;


	/*width: 100%;
	height: 40px;
	/*margin: auto;
	border: 1px solid white;
	float: left;
	color: white;
	position: relative;
	z-index: -1;*/
}

#countdowndays{
	position: absolute;
    bottom: 40px;
    left: 0;
    font-size: 15pt;
    font-family: CMU Serif;
    width: 100%;
	text-align: center;
	text-shadow: 1px 1px 5px black;
	z-index: -1;
	/*left: 50%;*/
	
	/*text-align: center;
	margin-top: -5px;
	position: relative;
	z-index: -1;*/
}

#time {
	width: 100%;
	height: auto;
	z-index: -1;


	/*width: 100%;
	height: 40px;
	/*margin: auto;
	border: 1px solid white;
	float: left;
	color: white;
	position: relative;
	z-index: -1;*/

}

#countdowntime{
	position: absolute;
    bottom: 10px;
    /*left: 50%;*/
    font-size: 15pt;
    font-family: CMU Serif;
    width: 99%;
	text-align: center;
	text-shadow: 1px 1px 5px black;
	z-index: -1;


	/*font-size: 15pt;
	font-family: CMU Serif;
	text-align: center;
	margin-top: -10px;
	position: relative;
	z-index: -1;*/
}




